.calculator{
  background-image: url("Screenshot_20241220-173953.jpg")
}
#display{
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 5px solid blue;
  border-radius: 50px;
  text-align: right;
  background-color: gray;
  color: black;
  font-size: 100%;
  font-weight: bolder;
  
}
.buttons{
  display: grid;
  grid-template-columns: repeat(3 , 4fr );
  grid-gap: 20px;
}
.button{
  
  padding: 10px;
  border: 10px solid blue;
  border-radius:50px;
  text-align: center;
  background-color: orange; 
  color: red;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
.html{
  background-image: url("Screenshot_20241220-173953.jpg")
}

